<div class="page-title-container">
    <div class="row">
        <div class="col-6 col-sm-6">
            <h1 class="mb-0 pb-0 display-4" id="title">Inicio</h1>
            <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                <ul class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="javascript:;">Pos</a></li>
                    <li class="breadcrumb-item"><a href="/pos">Inicio</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<section class="scroll-section mb-5">
    <div class="row g-2">
        <div class="d-flex justify-content-center">
            <img src="/static/img/logo.svg" alt="" style="width: 300px; height: 200px;">
        </div>
    </div>
</section>
