<div class="page-title-container">
    <div class="row">
        <div class="col-6 col-sm-6">
            <h1 class="mb-0 pb-0 display-4" id="title">Punto de venta</h1>
            <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                <ul class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="javascript:;">Pos</a></li>
                    <li class="breadcrumb-item"><a href="/pos">Punto de venta</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<section class="scroll-section mb-5">
    <h2 class="small-title">App</h2>
    <div class="row g-2">
        <div class="col-12 col-lg-3 col-xl-3">
            <div class="row g-2">
                <div class="col-12">
                    <div class="card mb-5">
                        <div class="card-body" id="pos-customers-div">
                            <h1 class="text-primary font-heading display-7">Cliente #<span class="text-body"
                                    name="cu_id">N/A</span></h1>
                            <div class="d-flex justify-content-center mb-4">
                                <img src="/static/img/icon.jpg" alt="alternate text"
                                    class="rounded-xl border border-separator-light border-4 sw-13 sh-13">
                            </div>
                            <div class="mb-3 filled form-group tooltip-end-top">
                                <i data-acorn-icon="user"></i>
                                <input class="form-control" placeholder="Nombre completo" name="pe_fullname" disabled>
                            </div>
                            <div class="mb-3 filled form-group tooltip-end-top">
                                <i data-acorn-icon="email"></i>
                                <input class="form-control" placeholder="Correo electrónico" name="pe_email" disabled>
                            </div>
                            <div class="mb-3 filled form-group tooltip-end-top">
                                <i data-acorn-icon="phone"></i>
                                <input class="form-control" placeholder="Número telefónico" name="pe_phone" disabled>
                            </div>
                            <div class="filled form-group tooltip-end-top">
                                <button class="btn btn-primary w-100 fs-6" id="pos-customers-btn" data-bs-toggle="modal" data-bs-target="#pos-customers-modal"><i data-acorn-icon="search"
                                        data-acorn-size="18"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6">
            <div class="row g-2">
                <div class="col-12">
                    <div class="card mb-5" style="height: 623px;">
                        <div class="card-body">
                            <div class="mb-3 filled form-group tooltip-end-top">
                                <button class="btn btn-primary w-100 fs-6" id="pos-products-btn" data-bs-toggle="modal"
                                    data-bs-target="#pos-products-modal"><i data-acorn-icon="plus"
                                        data-acorn-size="18"></i> Ingresar o escanear producto</button>
                            </div>
                            <hr class="m-0" />
                            <div class="mt-2 p-3" style="height: 380px; overflow: auto;" id="pos-products-cart">
                                
                            </div>
                            <hr />
                            <div class="row g-2" id="pos-info-div">
                                <div class="col-6">
                                    <h1 class="text-primary font-heading display-7 d-flex"
                                        style="justify-content: space-between;">Subtotal: <span
                                            class="text-body font-standard" name="subtotal">$0</span></h1>
                                    <h1 class="text-primary font-heading display-7 d-flex"
                                        style="justify-content: space-between;">Comisión: <span
                                            class="text-body font-standard" name="commission">$0</span></h1>
                                    <h1 class="text-primary font-heading display-7 d-flex"
                                        style="justify-content: space-between;">Descuento: <span
                                            class="text-body font-standard" name="discount">$0</span></h1>
                                </div>
                                <div class="col-6">
                                    <h1 class="text-primary font-heading display-6 d-flex justify-content-end">Total
                                    </h1>
                                    <span class="text-body font-standard display-7 d-flex justify-content-end align-items-center" name="total">$0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <div class="row g-2">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form id="pos-sale-form-edit" autocomplete="off">
                                <h1 class="text-primary font-heading display-7 mb-3">Venta</h1>
                                <div class="mb-3 filled form-group tooltip-end-top">
                                    <i data-acorn-icon="shop"></i>
                                    <select class="form-control" name="lo_id">
                                        <option value="0" class="bg-dark">Selecciona la sucursal...</option>
                                        {% for location in locations %}
                                        <option value="{{location.lo_id}}" class="bg-dark">{{location.lo_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>                    
                                <div class="mb-3 filled form-group tooltip-end-top">
                                    <i data-acorn-icon="diagram-2"></i>
                                    <select class="form-control" name="ts_id">
                                        <option value="0" class="bg-dark">Selecciona el tipo de venta...</option>
                                        {% for typesale in typessales %}
                                        <option value="{{typesale.ts_id}}" class="bg-dark">{{typesale.ts_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3 filled form-group tooltip-end-top d-none" id="pos-ts_amountpayments-edit-div">
                                    <label for="">Cantidad de pagos</label>
                                    <i data-acorn-icon="grid-1" style="top: 32px;"></i>
                                    <input class="form-control" placeholder="Cantidad de pagos que debe realizar" name="ts_amountpayments">
                                </div> 
                                <div class="mb-3 filled form-group tooltip-end-top d-none" id="pos-ts_days-edit-div">
                                    <label for="">Tiempo en dias</label>
                                    <i data-acorn-icon="clock" style="top: 32px;"></i>
                                    <input class="form-control" placeholder="Tiempo en dias" name="ts_days">
                                </div>  
                                <div class="mb-3 filled form-group tooltip-end-top d-none" id="pos-ts_firstpayment-edit-div">
                                    <label for="">Primer abono</label>
                                    <i data-acorn-icon="dollar" style="top: 32px;"></i>
                                    <input class="form-control" placeholder="¿De cuánto será el primer abono? (Se recomienda mínimo el 10%)" name="ts_firstpayment">
                                </div>  
                                <div class="mb-3 filled form-group tooltip-end-top">
                                    <i data-acorn-icon="credit-card"></i>
                                    <select class="form-control" name="pm_id">
                                        <option value="0" class="bg-dark">Selecciona el método de pago...</option>
                                        {% for paymentmethod in paymentmethods %}
                                        <option value="{{paymentmethod.pm_id}}" class="bg-dark">{{paymentmethod.pm_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div> 
                                <div class="mb-3 filled form-group tooltip-end-top">
                                    <i data-acorn-icon="sale-tag"></i>
                                    <input class="form-control" placeholder="Porcentaje de descuento" name="discount_per" value="0">
                                </div> 
                                <div class="filled form-group tooltip-end-top">
                                    <button class="btn btn-primary w-100" type="submit" id="pos-sale-btn"><i data-acorn-icon="save" data-acorn-size="18"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="filled form-group tooltip-end-top">
                                <button class="btn btn-primary w-100 fs-6" id="pos-finalize-btn" data-bs-toggle="modal" data-bs-target="#pos-finalize-modal" disabled><i data-acorn-icon="basket"
                                        data-acorn-size="18"></i> Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="pos-customers-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="pos-customers-modalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pos-customers-modalLabel">Clientes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ps-2 col-4">
                    <div class="mb-2 filled form-group tooltip-end-top">
                        <i data-acorn-icon="search"></i>
                        <input class="form-control" placeholder="Búsqueda" id="pos-customers-search">
                    </div>
                </div>
                <div class="p-3" style="height: 350px; overflow: auto;" id="pos-customers-table">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pos-products-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="pos-products-modalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pos-products-modalLabel">Productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ps-2 col-4">
                    <div class="mb-2 filled form-group tooltip-end-top">
                        <i data-acorn-icon="search"></i>
                        <input class="form-control" placeholder="Búsqueda" id="pos-products-search">
                    </div>
                </div>
                <div class="p-3" style="height: 350px; overflow: auto;" id="pos-products-table">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pos-products-edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="pos-products-edit-modalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pos-products-edit-modalLabel">Editar cantidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="pos-products-form-edit" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="barcode"></i>
                        <input class="form-control" placeholder="ID" name="pr_id" readonly>
                    </div>      
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="grid-1"></i>
                        <input class="form-control" placeholder="Cantidad" name="quantity">
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-icon"><i data-acorn-icon="save" data-acorn-size="16"></i>
                        Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="pos-finalize-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="pos-finalize-modalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pos-finalize-modalLabel">Finalizar venta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="pos-finalize-form" autocomplete="off">
                <div class="modal-body">     
                    <div class="mb-4 filled form-group tooltip-end-top">
                        <i data-acorn-icon="dollar"></i>
                        <input class="form-control" placeholder="¿Con cuánto pago?" name="pay">
                    </div>  
                    <div class="filled form-group tooltip-end-top">
                        <h1 class="text-primary font-heading display-6 d-flex justify-content-end">Cambio
                        </h1>
                        <span class="text-body font-standard display-7 d-flex justify-content-end align-items-center" name="change">$0</span>
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-icon" disabled><i data-acorn-icon="basket" data-acorn-size="16"></i>
                        Finalizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function () {
        var pos_total = 0;
        var pos_page_customers = 1;
        var pos_total_page_customers = 1;
        var pos_isLoading_customers = false;
        var pos_change = 0;

        var pos_page_products = 1;
        var pos_total_page_products = 1;
        var pos_isLoading_products = false;

        $(document).ready(function () {
            pos_customers_table(1);
            pos_products_table(1);
            pos_get_info();

            $('#pos-sale-form-edit select[name=ts_id]').change(function() {
                var selectedValue = $(this).val(); 
                pos_sale_edit_options(selectedValue);
            });

            $(document).keydown(function(event) {
                var keyCode = event.which || event.keyCode;

                if (event.ctrlKey && keyCode === 118) { //Ctrl + F7
                    $("#pos-customers-btn").click();
                } else if (event.ctrlKey && keyCode === 119) { //Ctrl + F8
                    $("#pos-products-btn").click();
                } else if (event.ctrlKey && keyCode === 120) { //Ctrl + F9
                    $("#pos-sale-btn").click();
                } else if (event.ctrlKey && keyCode === 121) { //Ctrl + F10
                    $("#pos-finalize-btn").click();
                }
            });

            $('.modal').on('hidden.bs.modal', function () {                
                pos_get_info();
            });

            $("#pos-sale-form-edit select[name='lo_id'], #pos-sale-form-edit select[name='ts_id'], #pos-sale-form-edit select[name='pm_id']").on("change", function() {             
                $("#pos-sale-btn").click();
            });
        });

        $("#pos-sale-form-edit input[name='ts_amountpayments'], #pos-sale-form-edit input[name='ts_days'], #pos-sale-form-edit input[name='ts_firstpayment'], #pos-sale-form-edit input[name='discount_per']").on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                $("#pos-sale-btn").click();
            }, 500);
        });

        function pos_sale_edit_options(selectedValue){
            if(selectedValue == 100001){
                $('#pos-ts_amountpayments-edit-div').addClass('d-none');
                $('#pos-ts_days-edit-div').addClass('d-none');
                $('#pos-ts_firstpayment-edit-div').addClass('d-none');
            } else if(selectedValue == 100002){
                $('#pos-ts_amountpayments-edit-div').removeClass('d-none');
                $('#pos-ts_days-edit-div').removeClass('d-none');
                $('#pos-ts_firstpayment-edit-div').removeClass('d-none');
            } else if(selectedValue == 100003){
                $('#pos-ts_amountpayments-edit-div').addClass('d-none');
                $('#pos-ts_days-edit-div').removeClass('d-none');
                $('#pos-ts_firstpayment-edit-div').addClass('d-none');
            } else {
                $('#pos-ts_amountpayments-edit-div').addClass('d-none');
                $('#pos-ts_days-edit-div').addClass('d-none');
                $('#pos-ts_firstpayment-edit-div').addClass('d-none');
            }         
        }

        $('#pos-customers-table').scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(this).prop("scrollHeight");
            var clientHeight = $(this).prop("clientHeight");

            if (scrollTop + clientHeight >= scrollHeight && !pos_isLoading_customers) {
                if(pos_page_customers < pos_total_page_customers){
                    pos_isLoading_customers = true;
                    pos_page_customers++; 

                    pos_customers_table(pos_page_customers);
                }                
            }
        });

        $('#pos-products-table').scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(this).prop("scrollHeight");
            var clientHeight = $(this).prop("clientHeight");

            if (scrollTop + clientHeight >= scrollHeight && !pos_isLoading_products) {
                if(pos_page_products < pos_total_page_products){
                    pos_isLoading_products = true;
                    pos_page_products++; 

                    pos_products_table(pos_page_products);
                }                
            }
        });

        $('#pos-customers-search').on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                pos_customers_table(1);
            }, 500);
        });

        $('#pos-products-search').on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                pos_products_table(1);
            }, 500);
        });

        $('#pos-finalize-form input[name=pay]').on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                var pay = $('#pos-finalize-form input[name=pay]').val();
                var change = pay - pos_total;
                pos_change = change;
                $('#pos-finalize-form span[name=change]').html(`Q${change.toFixed(2)}`)

                if (isNaN(change) || change < 0){
                    $('#pos-finalize-form button[type="submit"]').prop('disabled', true);
                } else {
                    $('#pos-finalize-form button[type="submit"]').prop('disabled', false);
                }
            }, 500);
        });

        function pos_customers_table(page) {
            var htmlold = $('#pos-customers-table').html();
            pos_page_customers = page;
            $('#pos-customers-table').fadeOut(400, function () {
                $(this).html(loaderHTML).fadeIn(400);
            });

            var formData = new FormData();
            formData.append('page', page);
            formData.append('search', $('#pos-customers-search').val());
            var response = sendDataPost('pos/app/get/customers', 'data', formData);
            response.then(function (response) {
                if (response.success) {    
                    pos_total_page_customers = response.total_pages;          
                    $('#pos-customers-table').fadeOut(400, function () {
                        $(this).html(htmlold).fadeIn(400);
                        if(page == 1){
                            $(this).html(response.html).fadeIn(400);
                        } else {
                            $(this).append(response.html).fadeIn(400);
                        }                        
                    });
                } else {
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
                pos_isLoading_customers = false;
            }).catch(function (response) {
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
                pos_isLoading_customers = false;
            });
        }

        function pos_products_table(page) {
            var htmlold = $('#pos-products-table').html();
            pos_page_products = page;
            $('#pos-products-table').fadeOut(400, function () {
                $(this).html(loaderHTML).fadeIn(400);
            });

            var formData = new FormData();
            formData.append('page', page);
            formData.append('search', $('#pos-products-search').val());
            var response = sendDataPost('pos/app/get/products', 'data', formData);
            response.then(function (response) {
                if (response.success) {
                    pos_total_page_products = response.total_pages;          
                    $('#pos-products-table').fadeOut(400, function () {
                        $(this).html(htmlold).fadeIn(400);
                        if(page == 1){
                            $(this).html(response.html).fadeIn(400);
                        } else {
                            $(this).append(response.html).fadeIn(400);
                        }                        
                    });
                } else {
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        }

        function pos_get_info() {
            var formData = new FormData();
            var response = sendDataPost('pos/app/get/info', 'data', formData);
            response.then(function (response) {
                if (response.success) {
                    $('#pos-products-cart').html('');   
                    var lo_id = response.info.location.lo_id;
                    var lo_name = response.info.location.lo_name;
                    var ts_id = response.info.typesale.ts_id;
                    var ts_name = response.info.typesale.ts_name;
                    var ts_details = response.info.typesale.ts_details;
                    var ts_amountpayments = response.info.typesale.ts_amountpayments;
                    var ts_days = response.info.typesale.ts_days;
                    var ts_firstpayment = response.info.typesale.ts_firstpayment;
                    var ts_total = response.info.typesale.ts_total;
                    var pm_id = response.info.paymentmethod.pm_id;
                    var pm_name = response.info.paymentmethod.pm_name;
                    var cu_id = response.info.customer.cu_id;
                    var pe_id = response.info.customer.pe_id;
                    var pe_email = response.info.customer.pe_email;
                    var pe_fullname = response.info.customer.pe_fullname;
                    var pe_phone = response.info.customer.pe_phone;
                    var commission = response.info.commission;
                    var subtotal = response.info.subtotal;
                    var total = response.info.total;
                    var discount_per = response.info.discount_per;
                    var discount = response.info.discount;    
                    var fin = response.info.fin;        
                    
                    pos_sale_edit_options(ts_id);
                    if(ts_id == 100002){
                        pos_total = ts_total;
                        $('#pos-info-div span[name=subtotal]').html(`<span style="font-size: 13px">(Q${subtotal.toFixed(2)})</span> Q${ts_firstpayment.toFixed(2)}`);                   
                        $('#pos-info-div span[name=commission]').html(`Q${commission.toFixed(2)}`);
                        $('#pos-info-div span[name=discount]').html(`<span style="font-size: 13px">(Q${discount.toFixed(2)})</span> -$0`);
                        $('#pos-info-div span[name=total]').html(`<span style="font-size: 13px" class="me-1 mt-1">(Q${total.toFixed(2)})</span> Q${ts_total.toFixed(2)}`);
                    } else if(ts_id == 100003){
                        pos_total = 0;
                        $('#pos-info-div span[name=subtotal]').html(`<span style="font-size: 13px">(Q${subtotal.toFixed(2)})</span> $0`);                   
                        $('#pos-info-div span[name=commission]').html(`$0`);
                        $('#pos-info-div span[name=discount]').html(`<span style="font-size: 13px">(Q${discount.toFixed(2)})</span> -$0`);
                        $('#pos-info-div span[name=total]').html(`<span style="font-size: 13px" class="me-1 mt-1">(Q${total.toFixed(2)})</span> $0`);
                    } else {
                        pos_total = total;
                        $('#pos-info-div span[name=subtotal]').html(`Q${subtotal.toFixed(2)}`);                   
                        $('#pos-info-div span[name=commission]').html(`Q${commission.toFixed(2)}`);
                        $('#pos-info-div span[name=discount]').html(`-Q${discount.toFixed(2)}`);
                        $('#pos-info-div span[name=total]').html(`Q${total.toFixed(2)}`);
                    }
                    
                    $('#pos-finalize-form input[name=pay]').val('');
                    $('#pos-finalize-form span[name=change]').html(`$0`)
                    $('#pos-finalize-form button[type="submit"]').prop('disabled', true);

                    $('#pos-customers-div span[name=cu_id]').html(cu_id);
                    $('#pos-customers-div input[name=pe_fullname]').val(pe_fullname);
                    $('#pos-customers-div input[name=pe_email]').val(pe_email);
                    $('#pos-customers-div input[name=pe_phone]').val(pe_phone);

                    $.each(response.info.products, function (index, product) {
                        var productHTML = product.html;
                        $('#pos-products-cart').append(productHTML);
                    });                   

                    
                    $("#pos-sale-form-edit select[name=lo_id]").val(lo_id);
                    $("#pos-sale-form-edit select[name=ts_id]").val(ts_id);
                    $("#pos-sale-form-edit input[name=ts_amountpayments]").val(ts_amountpayments);
                    $("#pos-sale-form-edit input[name=ts_days]").val(ts_days);
                    $("#pos-sale-form-edit input[name=ts_firstpayment]").val(ts_firstpayment);
                    $("#pos-sale-form-edit select[name=pm_id]").val(pm_id);
                    $('#pos-sale-form-edit input[name=discount_per]').val(discount_per);                    
                    
                    $('#pos-finalize-btn').prop('disabled', true);
                    if(fin){
                        $('#pos-finalize-btn').prop('disabled', false);
                    }
                } else {
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        }

        function pos_set_customer(e) {
            var cu_id = $(e).attr('cu_id');
            var formData = new FormData();
            formData.append('cu_id', cu_id)
            var response = sendDataPost('pos/app/set/customer', 'data', formData);
            response.then(function (response) {
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                } else {
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        }
        window.pos_set_customer = pos_set_customer;

        function pos_add_product(e) {
            var pr_id = $(e).attr('pr_id');
            var formData = new FormData();
            formData.append('pr_id', pr_id)
            var response = sendDataPost('pos/app/add/product', 'data', formData);
            response.then(function (response) {
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                } else {
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        }
        window.pos_add_product = pos_add_product;

        function edit_product(e){ 
            var pr_id = $(e).attr('pr_id');
            var quantity = $(e).attr('quantity')

            $('#pos-products-form-edit input[name=pr_id]').val(pr_id);
            $('#pos-products-form-edit input[name=quantity]').val(quantity);
            $('#pos-products-edit-modal').modal('show');
        }
        window.edit_product = edit_product;

        $('#pos-products-form-edit').submit(function (e) {
            e.preventDefault();

            $('#pos-products-form-edit button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/app/set/product', 'data', new FormData(this));
            response.then(function (response) {
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                } else {                    
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
                $('#pos-products-edit-modal').modal('hide');
                $('#pos-products-form-edit button[type="submit"]').prop('disabled', false);
            }).catch(function (response) {                
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });                
                $('#pos-products-edit-modal').modal('hide');
                $('#pos-products-form-edit button[type="submit"]').prop('disabled', false);
            });
        });
        
        $('#pos-sale-form-edit').submit(function (e) {
            e.preventDefault();

            $('#pos-sale-form-edit button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/app/set/sale', 'data', new FormData(this));
            response.then(function (response) {
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                } else {                    
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
                pos_get_info();
                $('#pos-sale-form-edit button[type="submit"]').prop('disabled', false);
            }).catch(function (response) {                
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
                pos_get_info();
                $('#pos-sale-form-edit button[type="submit"]').prop('disabled', false);
            });
        });

        $('#pos-finalize-form').submit(function (e) {
            e.preventDefault();

            $('#pos-finalize-form button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/app/finalize', 'data', new FormData(this));
            response.then(function (response) {
                if (response.success) {
                    loadNoti({
                        icon: "cs-info-hexagon",
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 1000,
                        showProgressbar: true
                    });  
                    setTimeout(function(){
                        var wTicket = 500;
                        var hTicket = 800;
                        var posX = (window.innerWidth - wTicket) / 2;
                        var posY = (window.innerHeight - hTicket) / 2;

                        window.open('/api/web/pos/app/ticket/' + response.sa_id + '?change=' + pos_change, '_blank', 'width=' + wTicket + ', height=' + hTicket + ', left=' + posX + ', top=' + posY);

                        window.location.reload();
                    }, 2000);
                } else {                    
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                    $('#pos-finalize-form button[type="submit"]').prop('disabled', false);
                }                
                
            }).catch(function (response) {                
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
                $('#pos-finalize-form button[type="submit"]').prop('disabled', false);
            });
        });
    })();
</script>