<!DOCTYPE html>
<html>
<head>
  <title>Ticket de Venta</title>
  <link rel="stylesheet" type="text/css" href="/static/css/ticket.css?v=1.0.0">
  <script src="/static/js/qrcode.min.js"></script>

</head>
<body>
  <div class="ticket">
    <div class="logo">
      <img src="/static/img/icon.jpg" alt="Mi Hogar">
    </div>
    <div class="info">
      <p><strong>MI HOGAR ELECTRODOMÉSTICOS</strong></p>
      <p>4 Calle 4-60 zona 2 san lorenzo el cubo</p>
      <p><strong>Nit:</strong> 98511688</p>
      <p><strong>Tel:</strong> 5134-9923</p>
      <p><strong>Vendedor:</strong> {{sa_sale.us_pe_fullname}}</p>
      <p><strong>Fecha:</strong> {{v_datetimenow.strftime('%d/%m/%Y %H:%M')}}</p>
      <p><strong>Sucursal:</strong> {{sa_sale.lo_name}}</p>
      {% if request.args.get('no') != None %}
      {% for salepayment in sp_salepayments %}     
      {% if request.args.get('no')|urlencode == salepayment['sp_no']|string %}   
      <p><strong>Atendio:</strong> {{salepayment.pe_fullname}}</p>
      {% endif %}
      {% endfor %}      
      {% endif %}
      <br>
      <p><strong>ID Cliente:</strong> {{sa_sale.cu_id}}</p>
      <p><strong>Nombre del cliente:</strong> {{sa_sale.cu_pe_fullname}}</p>
      <p><strong>Telefono del cliente:</strong> {{sa_sale.cu_pe_phone}}</p>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for saledetail in sd_saledetails %}
        <tr>
          <td>{{ (saledetail.sd_quantity) | format_currency }}</td>
          <td>{{saledetail.pr_name}}</td>
          <td>Q{{ (saledetail.sd_price) | format_currency }}</td>
          <td>Q{{ (saledetail.sd_price * saledetail.sd_quantity) | format_currency }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="total">
      <p><strong>Subtotal:</strong> Q{{ (sa_sale.sa_subtotal) | format_currency }}</p>
      <p><strong>Descuento:</strong> Q{{ (sa_sale.sa_discount) | format_currency }}</p>
      <p><strong>Total:</strong> Q{{ (sa_sale.sa_subtotal - sa_sale.sa_discount) | format_currency }}</p>
      <p style="display: none;" id="change-p"><strong>Cambio:</strong> Q<span id="change">0</span></p>
    </div>
    <table style="margin-bottom: 10px;">
      <thead>
        <tr>
          <th>No. Recibo</th>
          <th>Total</th>
          <th>Abonado</th>
          <th>Fecha limite</th>
        </tr>
      </thead>
      <tbody>
        {% if request.args.get('no') != None %}
          {% for salepayment in sp_salepayments %}     
            {% if request.args.get('no')|urlencode == salepayment['sp_no']|string %}   
              <tr>
                <td>{% if salepayment.sp_no == None %}N/A{% else %}{{salepayment.sp_no}}{% endif %}</td>
                <td>Q{{ (salepayment.sp_subtotal) | format_currency }}</td>
                <td>Q{{ (salepayment.sp_pay) | format_currency }}</td>
                <td>{{salepayment.sp_limitdate.strftime('%d/%m/%Y')}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for salepayment in sp_salepayments %}        
            <tr>
              <td>{% if salepayment.sp_no == None %}N/A{% else %}{{salepayment.sp_no}}{% endif %}</td>
              <td>Q{{ (salepayment.sp_subtotal) | format_currency }}</td>
              <td>Q{{ (salepayment.sp_pay) | format_currency }}</td>
              <td>{{salepayment.sp_limitdate.strftime('%d/%m/%Y')}}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <div class="total" style="margin-bottom: 30px;">
      <p><strong>Abonado:</strong> Q{{ (total_pay) | format_currency }}</p>
      <p><strong>Debe:</strong> Q{{remainingpayment | format_currency}}</p>
    </div>
    <div class="info" style="display: flex !important; justify-content: center;">
        <div id="qrcode"></div>
    </div>
    <div class="info" style="font-size: 12px;">
        <p><strong>Venta</strong></p>
        <p>{{sa_sale.sa_id}}</p>
    </div>
    <button id="print-button" onclick="imprimirTicket()">Imprimir</button>
  </div>  
  <script>
    const queryString = window.location.search;
    const params = new URLSearchParams(queryString);
    const changeValue = params.get('change');
    
    function imprimirTicket() {
        window.print();        
    }

    var qrcode = new QRCode(document.getElementById("qrcode"), {
      width: 100,
      height: 100
    });

    var textoQR = "{{sa_sale.sa_id}}";
    qrcode.makeCode(textoQR);

    const pElement = document.getElementById('change-p');
    const spanElement = document.getElementById('change');

    if (changeValue !== null) {
      pElement.style.display = 'block';
      spanElement.textContent = changeValue;
    }
  </script>
</body>
</html>
