<div class="page-title-container">
    <div class="row">
        <div class="col-6 col-sm-6">
            <h1 class="mb-0 pb-0 display-4" id="title">Direcciones</h1>
            <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                <ul class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="javascript:;">Administrar</a></li>
                    <li class="breadcrumb-item"><a href="/pos/manage/addresses/{{pe_id}}">Direcciones</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-6 col-sm-6 d-flex align-items-start justify-content-end">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle mb-1" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <i data-acorn-icon="menu" class="icon" data-acorn-size="16"></i>
                </button>
                <div class="dropdown-menu"
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 38px);"
                    data-popper-placement="bottom-start">
                    <a class="dropdown-item" href="javascript:;" data-bs-toggle="modal"
                        data-bs-target="#manage-addresses-modal-add">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="scroll-section mb-5">
    <h2 class="small-title">Estadísticas</h2>
    <div class="row g-2">
        <div class="col-12 col-md-4 col-sm-4 col-lg-4">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="user" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Total</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{{total_count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
<section class="scroll-section" id="hoverableRows">
    <h2 class="small-title">Registros</h2>
    <div class="card mb-5">
        <div class="card-body">
            <div class="col-md-3">
                <div class="mb-3 filled form-group tooltip-end-top">
                    <i data-acorn-icon="search"></i>
                    <input class="form-control" placeholder="Búsqueda" id="manage-addresses-search">
                </div>
            </div>
            <div class="table-responsive mb-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Código postal</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="manage-addresses-table">

                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination semibordered justify-content-center mb-0">
                    <li class="page-item">
                        <a class="page-link prev-link" href="javascript:;" tabindex="-1" aria-disabled="true">
                            <i data-acorn-icon="chevron-left"></i>
                        </a>
                    </li>
                    <div id="table-pages" style="display: flex;">

                    </div>
                    <li class="page-item">
                        <a class="page-link next-link" href="javascript:;" tabindex="-1" aria-disabled="true">
                            <i data-acorn-icon="chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<div class="modal fade" id="manage-addresses-modal-add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manage-addresses-modal-addLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-addresses-modal-addLabel">Agregar dirección</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="manage-addresses-form-add" autocomplete="off">
                <div class="modal-body">  
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="destination"></i>
                        <input class="form-control" placeholder="Dirección" name="ad_address">
                    </div>
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="code"></i>
                        <input class="form-control" placeholder="Código postal" name="ad_postalcode">
                    </div>   
                    <div class="mb-3 filled form-group tooltip-end-top autocomplete-container">
                        <i data-acorn-icon="pin"></i>
                        <input type="text" id="manage-addresses-ci_name-add" name="ci_name" placeholder="Ciudad" class="form-control" autocomplete="off">
                    </div>  
                    <div class="mb-3 filled form-group tooltip-end-top autocomplete-container">
                        <i data-acorn-icon="compass"></i>
                        <input type="text" id="manage-addresses-st_name-add" name="st_name" placeholder="Estado" class="form-control" autocomplete="off">
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-icon"><i data-acorn-icon="plus" data-acorn-size="16"></i>
                        Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="manage-addresses-modal-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manage-addresses-modal-editLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-addresses-modal-editLabel">Editar dirección</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="manage-addresses-form-edit" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="barcode"></i>
                        <input class="form-control" placeholder="ID" name="ad_id" readonly>
                    </div>                    
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="destination"></i>
                        <input class="form-control" placeholder="Dirección" name="ad_address">
                    </div>
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="code"></i>
                        <input class="form-control" placeholder="Código postal" name="ad_postalcode">
                    </div>   
                    <div class="mb-3 filled form-group tooltip-end-top autocomplete-container">
                        <i data-acorn-icon="pin"></i>
                        <input type="text" id="manage-addresses-ci_name-edit" name="ci_name" placeholder="Ciudad" class="form-control" autocomplete="off">
                    </div>  
                    <div class="mb-3 filled form-group tooltip-end-top autocomplete-container">
                        <i data-acorn-icon="compass"></i>
                        <input type="text" id="manage-addresses-st_name-edit" name="st_name" placeholder="Estado" class="form-control" autocomplete="off">
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-icon"><i data-acorn-icon="save" data-acorn-size="16"></i>
                        Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function() {
        $(document).ready(function () {
            table_setdata('#manage-addresses-table', 'pos/manage/addresses/{{pe_id}}/table');

            new AutocompleteCustom("manage-addresses-ci_name-add", "manage-addresses-ci_name-add-results", {
                data: {
                    src: [
                        {% for city in cities %}
                        "{{city.ci_name}}",
                        {% endfor %}
                    ],
                },
                placeHolder: "Ciudad",
                searchEngine: "strict",
                highlight: !0,
            });

            new AutocompleteCustom("manage-addresses-st_name-add", "manage-addresses-st_name-add-results", {
                data: {
                    src: [
                        {% for state in states %}
                        "{{state.st_name}}",
                        {% endfor %}
                    ],
                },
                placeHolder: "Estado",
                searchEngine: "strict",
                highlight: !0,
            });

            new AutocompleteCustom("manage-addresses-ci_name-edit", "manage-addresses-ci_name-edit-results", {
                data: {
                    src: [
                        {% for city in cities %}
                        "{{city.ci_name}}",
                        {% endfor %}
                    ],
                },
                placeHolder: "Ciudad",
                searchEngine: "strict",
                highlight: !0,
            });

            new AutocompleteCustom("manage-addresses-st_name-edit", "manage-addresses-st_name-edit-results", {
                data: {
                    src: [
                        {% for state in states %}
                        "{{state.st_name}}",
                        {% endfor %}
                    ],
                },
                placeHolder: "Estado",
                searchEngine: "strict",
                highlight: !0,
            });
        });

        function edit_address(e){
            var address_json = JSON.parse($(e).attr('address'));
            var id = table_tempelement(address_json.id).find('span').text();
            var address = table_tempelement(address_json.address).text();
            var postalcode = table_tempelement(address_json.postalcode).find('span').text();
            var city = table_tempelement(address_json.city).text();
            var state = table_tempelement(address_json.state).text();

            $('#manage-addresses-form-edit input[name=ad_id]').val(id);
            $('#manage-addresses-form-edit input[name=ad_address]').val(address);
            $('#manage-addresses-form-edit input[name=ad_postalcode]').val(postalcode);
            $('#manage-addresses-form-edit input[name=ci_name]').val(city);
            $('#manage-addresses-form-edit input[name=st_name]').val(state);

            $('#manage-addresses-modal-edit').modal('show');
        }
        window.edit_address = edit_address;

        $('#manage-addresses-search').on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                table_setdata('#manage-addresses-table', 'pos/manage/addresses/{{pe_id}}/table', $('#manage-addresses-search').val());
            }, 500);
        });

        var table_interval = setInterval(function () {
            if(path == '/pos/manage/addresses/{{pe_id}}'){
                if (table_page !== table_page_previous) {
                    table_setdata('#manage-addresses-table', 'pos/manage/addresses/{{pe_id}}/table', $('#manage-addresses-search').val());
                    table_page_previous = table_page;
                }
                return;
            }
            clearInterval(table_interval);           
        }, 100);

        function delete_address(e) {
            $(e).prop('disabled', true);
            var ad_id = $(e).attr('ad_id');
            var formData = new FormData();
            formData.append('ad_id', ad_id);
            var response = sendDataPost('pos/manage/addresses/{{pe_id}}/delete', 'data', formData);
            response.then(function (response) {
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();
                } else {
                    $(e).prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                $(e).prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        }
        window.delete_address = delete_address;

        $('#manage-addresses-form-add').submit(function (e) {
            e.preventDefault();

            $('#manage-addresses-form-add button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/manage/addresses/{{pe_id}}/add', 'data', new FormData(this));
            response.then(function (response) {
                $('#manage-addresses-modal-add').modal('hide');
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();
                } else {
                    $('#manage-addresses-form-add button[type="submit"]').prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                $('#manage-addresses-modal-add').modal('hide');
                $('#manage-addresses-form-add button[type="submit"]').prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        });

        $('#manage-addresses-form-edit').submit(function (e) {
            e.preventDefault();

            $('#manage-addresses-form-edit button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/manage/addresses/{{pe_id}}/edit', 'data', new FormData(this));
            response.then(function (response) {
                $('#manage-addresses-modal-edit').modal('hide');
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();
                } else {
                    $('#manage-addresses-form-edit button[type="submit"]').prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                $('#manage-addresses-modal-edit').modal('hide');
                $('#manage-addresses-form-edit button[type="submit"]').prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        });
    })();
</script>