<div class="page-title-container">
    <div class="row">
        <div class="col-6 col-sm-6">
            <h1 class="mb-0 pb-0 display-4" id="title">Categorías</h1>
            <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                <ul class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="javascript:;">Administrar</a></li>
                    <li class="breadcrumb-item"><a href="/pos/manage/categories">Categorías</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-6 col-sm-6 d-flex align-items-start justify-content-end">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle mb-1" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <i data-acorn-icon="menu" class="icon" data-acorn-size="16"></i>
                </button>
                <div class="dropdown-menu"
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 38px);"
                    data-popper-placement="bottom-start">
                    <a class="dropdown-item" href="javascript:;" data-bs-toggle="modal"
                        data-bs-target="#manage-categories-modal-add">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="scroll-section mb-5">
    <h2 class="small-title">Estadísticas</h2>
    <div class="row g-2">
        <div class="col-12 col-md-4 col-sm-4 col-lg-4">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="user" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Total</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{{total_count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-4 col-lg-4">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="eye" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Visible</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{{visible_count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-12 col-md-4 col-sm-4 col-lg-4">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="eye-off" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Oculto</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{{hidden_count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
<section class="scroll-section" id="hoverableRows">
    <h2 class="small-title">Registros</h2>
    <div class="card mb-5">
        <div class="card-body">
            <div class="col-md-3">
                <div class="mb-3 filled form-group tooltip-end-top">
                    <i data-acorn-icon="search"></i>
                    <input class="form-control" placeholder="Búsqueda" id="manage-categories-search">
                </div>
            </div>
            <div class="table-responsive mb-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="manage-categories-table">

                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination semibordered justify-content-center mb-0">
                    <li class="page-item">
                        <a class="page-link prev-link" href="javascript:;" tabindex="-1" aria-disabled="true">
                            <i data-acorn-icon="chevron-left"></i>
                        </a>
                    </li>
                    <div id="table-pages" style="display: flex;">

                    </div>
                    <li class="page-item">
                        <a class="page-link next-link" href="javascript:;" tabindex="-1" aria-disabled="true">
                            <i data-acorn-icon="chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<div class="modal fade" id="manage-categories-modal-add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manage-categories-modal-addLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-categories-modal-addLabel">Agregar categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="manage-categories-form-add" autocomplete="off">
                <div class="modal-body">  
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="text"></i>
                        <input class="form-control" placeholder="Nombre" name="ca_name">
                    </div>                   
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-icon"><i data-acorn-icon="plus" data-acorn-size="16"></i>
                        Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="manage-categories-modal-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manage-categories-modal-editLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-categories-modal-editLabel">Editar categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="manage-categories-form-edit" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="barcode"></i>
                        <input class="form-control" placeholder="ID" name="ca_id" readonly>
                    </div>                    
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="text"></i>
                        <input class="form-control" placeholder="Nombre" name="ca_name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-icon"><i data-acorn-icon="save" data-acorn-size="16"></i>
                        Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function() {
        $(document).ready(function () {
            table_setdata('#manage-categories-table', 'pos/manage/categories/table');
        });

        function edit_category(e){
            var category_json = JSON.parse($(e).attr('category'));
            var id = table_tempelement(category_json.id).find('span').text();
            var name = table_tempelement(category_json.name).text();

            $('#manage-categories-form-edit input[name=ca_id]').val(id);
            $('#manage-categories-form-edit input[name=ca_name]').val(name);

            $('#manage-categories-modal-edit').modal('show');
        }
        window.edit_category = edit_category;

        $('#manage-categories-search').on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                table_setdata('#manage-categories-table', 'pos/manage/categories/table', $('#manage-categories-search').val());
            }, 500);
        });

        var table_interval = setInterval(function () {
            if(path == '/pos/manage/categories'){
                if (table_page !== table_page_previous) {
                    table_setdata('#manage-categories-table', 'pos/manage/categories/table', $('#manage-categories-search').val());
                    table_page_previous = table_page;
                }
                return;
            }
            clearInterval(table_interval);           
        }, 100);

        function check_status_category(e) {
            var switchElement = $(e);
            var ca_id = $(e).attr('ca_id');
            var ca_status = 0;

            if ($(e).is(':checked')) {
                ca_status = 1;
            }

            var statusBackBool = true;
            if (ca_status == 1) {
                statusBackBool = false;
            }

            switchElement.prop('checked', statusBackBool);

            var formData = new FormData();
            formData.append('ca_id', ca_id);
            formData.append('ca_status', ca_status);
            $(e).prop('disabled', true);

            var response = sendDataPost('pos/manage/categories/status', 'data', formData);
            response.then(function (response) {
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();
                } else {
                    switchElement.prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                switchElement.prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        }
        window.check_status_category = check_status_category;

        $('#manage-categories-form-add').submit(function (e) {
            e.preventDefault();

            $('#manage-categories-form-add button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/manage/categories/add', 'data', new FormData(this));
            response.then(function (response) {
                $('#manage-categories-modal-add').modal('hide');
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();
                } else {
                    $('#manage-categories-form-add button[type="submit"]').prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                $('#manage-categories-modal-add').modal('hide');
                $('#manage-categories-form-add button[type="submit"]').prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        });

        $('#manage-categories-form-edit').submit(function (e) {
            e.preventDefault();

            $('#manage-categories-form-edit button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/manage/categories/edit', 'data', new FormData(this));
            response.then(function (response) {
                $('#manage-categories-modal-edit').modal('hide');
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();
                } else {
                    $('#manage-categories-form-edit button[type="submit"]').prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                $('#manage-categories-modal-edit').modal('hide');
                $('#manage-categories-form-edit button[type="submit"]').prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        });
    })();
</script>