<div class="page-title-container">
    <div class="row">
        <div class="col-6 col-sm-6">
            <h1 class="mb-0 pb-0 display-4" id="title">Pagos</h1>
            <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                <ul class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="javascript:;">Administrar</a></li>
                    <li class="breadcrumb-item"><a href="/pos/manage/{{sale.sa_id}}/payments">Pagos</a></li>
                </ul>
            </nav>
        </div>
        {% if remainingpayment|float > 0 %}
        <div class="col-6 col-sm-6 d-flex align-items-start justify-content-end">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle mb-1" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <i data-acorn-icon="menu" class="icon" data-acorn-size="16"></i>
                </button>
                <div class="dropdown-menu"
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 38px);"
                    data-popper-placement="bottom-start">
                    <a class="dropdown-item" href="javascript:;" data-bs-toggle="modal"
                        data-bs-target="#manage-payments-modal-add">Agregar</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<section class="scroll-section mb-5">
    <h2 class="small-title">Estadísticas</h2>
    <div class="row g-2">
        <div class="col-12 col-md-3 col-lg-3">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="grid-1" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Total de pagos</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{{sale.sa_amountpayments}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="dollar" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Total a pagar</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{{sale.sa_subtotal - sale.sa_discount}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-12 col-md-3 col-lg-3">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="dollar" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Total restante</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{% if remainingpayment|float <= 0 %}$0{% else %}Q{{remainingpayment}}{% endif %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-12 col-md-3 col-lg-3">
            <div class="card sh-11 hover-scale-up cursor-pointer">
                <div class="h-100 row g-0 card-body align-items-center py-3">
                    <div class="col-auto pe-3">
                        <div
                            class="bg-gradient-light sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                            <i data-acorn-icon="calendar" class="text-white"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row gx-2 d-flex align-content-center">
                            <div class="col-12 col-xl d-flex">
                                <div class="d-flex align-items-center lh-1-25">Fecha de registro</div>
                            </div>
                            <div class="col-12 col-xl-auto">
                                <div class="cta-2 text-primary">{{sale.sa_regdate.strftime('%d/%m/%Y')}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
<section class="scroll-section" id="hoverableRows">
    <h2 class="small-title">Registros</h2>
    <div class="card mb-5">
        <div class="card-body">
            <div class="col-md-3">
                <div class="mb-3 filled form-group tooltip-end-top">
                    <i data-acorn-icon="search"></i>
                    <input class="form-control" placeholder="Búsqueda" id="manage-payments-search">
                </div>
            </div>
            <div class="table-responsive mb-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Comisión</th>
                            <th scope="col">Total a pagar</th>
                            <th scope="col">Total pagado</th>
                            <th scope="col">Total restante</th>
                            <th scope="col">Fecha limite</th>
                            <th scope="col">Metodo de pago</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="manage-payments-table">

                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination semibordered justify-content-center mb-0">
                    <li class="page-item">
                        <a class="page-link prev-link" href="javascript:;" tabindex="-1" aria-disabled="true">
                            <i data-acorn-icon="chevron-left"></i>
                        </a>
                    </li>
                    <div id="table-pages" style="display: flex;">

                    </div>
                    <li class="page-item">
                        <a class="page-link next-link" href="javascript:;" tabindex="-1" aria-disabled="true">
                            <i data-acorn-icon="chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<div class="modal fade" id="manage-payments-modal-add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manage-payments-modal-addLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-payments-modal-addLabel">Agregar pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="manage-payments-form-add" autocomplete="off">
                <div class="modal-body">  
                    <div class="mb-4 filled form-group tooltip-end-top">
                        <i data-acorn-icon="grid-1"></i>
                        <input class="form-control" placeholder="¿Cuánto abonará?" name="amount">
                    </div>  
                    <div class="mb-4 filled form-group tooltip-end-top">
                        <i data-acorn-icon="dollar"></i>
                        <input class="form-control" placeholder="¿Con cuánto pago?" name="pay">
                    </div>  
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="credit-card"></i>
                        <select class="form-control" name="pm_id">
                            <option value="0" class="bg-dark">Selecciona el método de pago...</option>
                            {% for paymentmethod in paymentmethods %}
                            <option value="{{paymentmethod.pm_id}}" class="bg-dark">{{paymentmethod.pm_name}}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="filled form-group tooltip-end-top">
                        <h1 class="text-primary font-heading display-6 d-flex justify-content-end">Cambio
                        </h1>
                        <span class="text-body font-standard display-7 d-flex justify-content-end align-items-center" name="change">$0</span>
                    </div>                
                </div>
                <div class="modal-footer">
                    <button type="submit" disabled class="btn btn-primary btn-icon"><i data-acorn-icon="plus" data-acorn-size="16"></i>
                        Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="manage-payments-modal-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manage-payments-modal-editLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manage-payments-modal-editLabel">Editar pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="manage-payments-form-edit" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="barcode"></i>
                        <input class="form-control" placeholder="ID" name="sp_id" readonly>
                    </div> 
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="dollar"></i>
                        <input class="form-control" placeholder="Total pagado" name="sp_pay">
                    </div>                   
                    <div class="mb-3 filled form-group tooltip-end-top">
                        <i data-acorn-icon="calendar"></i>
                        <input class="form-control" type="datetime-local" placeholder="Fecha limite" name="sp_limitdate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-icon"><i data-acorn-icon="save" data-acorn-size="16"></i>
                        Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function() {
        var pos_change = 0;
        $(document).ready(function () {
            table_setdata('#manage-payments-table', 'pos/manage/sale/{{sale.sa_id}}/payments/table');
        });

        function edit_payment(e){
            var payment_json = JSON.parse($(e).attr('payment'));
            var sp_id = table_tempelement(payment_json.sp_id).find('span').text();
            var sp_pay = table_tempelement(payment_json.sp_pay).text().replace('Q', '');
            var sp_limitdate = formatDate(table_tempelement(payment_json.sp_limitdate).find('span').text());
            
            console.log(table_tempelement(payment_json.sp_limitdate).text())
            $('#manage-payments-form-edit input[name=sp_id]').val(sp_id);
            $('#manage-payments-form-edit input[name=sp_pay]').val(sp_pay);
            $('#manage-payments-form-edit input[name=sp_limitdate]').val(sp_limitdate);

            $('#manage-payments-modal-edit').modal('show');
        }
        window.edit_payment = edit_payment;


        function formatDate(dateString) {
            var parts = dateString.split('/');
            var day = parts[0].trim();
            var month = parts[1].trim();
            var year = parts[2].trim().substring(0, 4);
            var time = parts[2].trim().substring(5);
            var hours = time.split(':')[0].trim();
            var minutes = time.split(':')[1].trim();

            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes;
        }


        $('#manage-payments-search').on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                table_setdata('#manage-payments-table', 'pos/manage/sale/{{sale.sa_id}}/payments/table', $('#manage-payments-search').val());
            }, 500);
        });

        $("#manage-payments-form-add select[name=pm_id]").on("change", function() {             
            sale_payments_change();
        });

        $('#manage-payments-form-add input[name=amount], #manage-payments-form-add input[name=pay]').on('input', function () {
            clearTimeout(typingTimer);

            typingTimer = setTimeout(function () {
                sale_payments_change();
            }, 500);
        });

        function sale_payments_change(){
            var amount = $('#manage-payments-form-add input[name=amount]').val();
            var pay = $('#manage-payments-form-add input[name=pay]').val();
            var pm_id = $('#manage-payments-form-add select[name=pm_id]').val();
            var change = pay - amount ;
            pos_change = change;
            $('#manage-payments-form-add span[name=change]').html(`Q${change.toFixed(2)}`)
            
            if (amount.length <= 0 || amount === ''){
                $('#manage-payments-form-add button[type="submit"]').prop('disabled', true);
            } else if (pay.length <= 0 || pay === ''){
                $('#manage-payments-form-add button[type="submit"]').prop('disabled', true);
            } else if (isNaN(change) || change < 0){
                $('#manage-payments-form-add button[type="submit"]').prop('disabled', true);
            } else if (pm_id <= 0){
                $('#manage-payments-form-add button[type="submit"]').prop('disabled', true);
            } else {                    
                $('#manage-payments-form-add button[type="submit"]').prop('disabled', false);
            }
        }

        var table_interval = setInterval(function () {
            if(path == '/pos/manage/{{sale.sa_id}}/payments'){
                if (table_page !== table_page_previous) {
                    table_setdata('#manage-payments-table', 'pos/manage/sale/{{sale.sa_id}}/payments/table', $('#manage-payments-search').val());
                    table_page_previous = table_page;
                }
                return;
            }
            clearInterval(table_interval);           
        }, 100);

        $('#manage-payments-form-add').submit(function (e) {
            e.preventDefault();

            $('#manage-payments-form-add button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/manage/sale/{{sale.sa_id}}/payments/add', 'data', new FormData(this));
            response.then(function (response) {
                $('#manage-payments-modal-add').modal('hide');
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();

                    var wTicket = 500;
                    var hTicket = 800;
                    var posX = (window.innerWidth - wTicket) / 2;
                    var posY = (window.innerHeight - hTicket) / 2;

                    window.open('/api/web/pos/app/ticket/{{sale.sa_id}}' + '?change=' + pos_change, '_blank', 'width=' + wTicket + ', height=' + hTicket + ', left=' + posX + ', top=' + posY);
                } else {
                    $('#manage-payments-form-add button[type="submit"]').prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                $('#manage-payments-modal-add').modal('hide');
                $('#manage-payments-form-add button[type="submit"]').prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        });

        $('#manage-payments-form-edit').submit(function (e) {
            e.preventDefault();

            $('#manage-payments-form-edit button[type="submit"]').prop('disabled', true);
            var response = sendDataPost('pos/manage/sale/{{sale.sa_id}}/payments/edit', 'data', new FormData(this));
            response.then(function (response) {
                $('#manage-payments-modal-edit').modal('hide');
                if (response.success) {
                    loadNoti({
                        icon: 'cs-info-hexagon',
                        title: 'Success!',
                        msg: response.msg,
                        color: 'primary',
                        time: 500,
                        showProgressbar: true
                    });
                    loadView();
                } else {
                    $('#manage-payments-form-edit button[type="submit"]').prop('disabled', false);
                    loadNoti({
                        title: 'Error!',
                        msg: response.msg,
                        color: 'danger'
                    });
                }
            }).catch(function (response) {
                $('#manage-payments-modal-edit').modal('hide');
                $('#manage-payments-form-edit button[type="submit"]').prop('disabled', false);
                loadNoti({
                    title: 'Error!',
                    msg: response.msg,
                    color: 'danger'
                });
            });
        });
    })();
</script>