{% for data in table %}
<div class="row g-2 rounded-lg hover-scale-up cursor-pointer mb-3" style="background: rgba(var(--separator-rgb));" data-bs-dismiss="modal" cu_id="{{data.cu_id}}" onclick="pos_set_customer(this);">
    <div class="col-2 col-sm-3 col-md-2 mb-2">
        <img src="/static/img/icon.jpg" onerror="this.onerror=null; this.src='/static/img/icon.jpg'" alt="alternate text" class="ms-2 rounded-xl border border-separator-light border-4 sw-8 sh-8">
    </div>
    <div class="col-6 col-sm-6 col-md-8 mb-2 p-2">
        <span class="text-body font-heading" style="font-size: 16px;">{{data.pe_fullname}}</span><br>
        <span class="text-body font-standard d-flex align-content-center" style="font-size: 14px;"><i data-acorn-icon="barcode" data-acorn-size="18" class="me-1"></i> {{data.cu_id}} • <i data-acorn-icon="email" data-acorn-size="18" class="ms-1 me-1"></i> {{data.pe_email}}</span>
    </div>
    <div class="col-3 col-sm-3 col-md-2 mb-2 p-3">
        <span class="text-body font-heading" style="font-size: 18px; justify-content: space-between;">{{data.cu_status|safe}}</span><br>
    </div>
</div>
{% endfor %}
